.pill {
  font-size: 0.65rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#tech-skills h3 {
  font-size: 0.95rem;
}

h2 > span.annotation,
h3 > span.annotation {
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  color: rgb(90, 90, 90);
}

.written {
  display: flex;
  align-items: center;
}

.years {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: var(--yellow);
  margin-right: 1rem;
  width: 100%;
  height: max-content;
}

.display-years {
  height: 0.5rem;
  background-color: var(--blue);
}

.year:last-child {
  /* color: var(--yellow); */
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  width: 1.5rem;
  color: var(--blue);
}

#tech-skills #skills-grid > div {
  max-height: max-content;
}

#tech-skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: max-content;
}

#tech-skills ul li {
  display: grid;
  align-items: end;
  grid-gap: 0.125rem;
  grid-template-columns: auto 1rem;
  margin: 0.25rem 0;
}

#tech-skills ul li p.exp-right {
  font-size: 0.8rem;
  line-height: 0.75rem;
  text-align: right;
  margin-right: 0.125rem;
  font-weight: semibold;
  color: var(--light-gray);
}

#tech-skills ul li i {
  font-size: 1.2rem;
}

#tech-skills ul li *:first-child {
  margin-right: 0.25rem;
}
