#education ul.education-items {
  list-style: none;
  padding-left: 0.5rem;
  width: 100%;
  margin-right: 0.5rem;
}

#education ul.education-items li.education-item::after {
  content: "";
  display: grid;
  height: 1px;
  background-color: var(--yellow);
  grid-column: 3 / -2;
  margin: 0.5rem 0;
}

#education ul.education-items li.education-item {
  width: 100%;
  display: grid;
  grid-template-columns: 1rem 15rem 25rem 12rem;
  margin-left: 0.5rem;
  font-size: calc(1rem * 0.8);
}

#education ul.education-items li.education-item i {
  color: var(--blue);
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

#education ul.education-items li.education-item::before {
  content: "- "; /* Add dash before the item */
  padding-right: 0.5rem; /* Add some space after the dash */
}
