:root {
  --max-years: 12;
  --blue: dodgerblue;
  --yellow: papayawhip;
  --light-gray: #11115595;
  --dark-gray: #333344;
}

#heading {
  display: grid;
  grid-template-columns: 1fr 170px;
}

#heading > div p {
  display: flex;
  align-items: center;
}

#heading p.spoken-languages {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}

#heading .spoken-languages span:not(:last-of-type) {
  display: inline-block;
  margin-right: 0.5rem;
}

#heading p.contact-info {
  display: grid;
  grid-template-columns: 1rem auto;
}

#heading .contact-info i {
  text-align: center;
  display: inline-block;
  color: var(--blue);
}

#heading .contact-info span {
  display: inline-block;
  margin-left: 0.5rem;
}

#heading .spoken-languages span i {
  margin-right: 0.25rem;
}

#heading .spoken-languages > span {
  font-weight: semi-bold;
  font-size: 0.8rem;
}

.page-break {
  page-break-after: always;
}

.no-break {
  page-break-inside: avoid;
}
