/*
#work-history
.work-history--item
.work-history--company
.work-history--dates
.work-history--location
.work-history-responsibilities
.work-history--title
*/

#work-history {
  --bg-intensity: 60;
  --bg-transparency: 0.025;
}

.work-history--item:nth-child(odd) {
  background-color: rgba(
    var(--bg-intensity),
    var(--bg-intensity),
    0,
    var(--bg-transparency)
  );
  padding: 0.25rem;
}

.work-history--item {
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
}

.work-history--item:nth-child(even) {
  background-color: rgba(0, 0, var(--bg-intensity), var(--bg-transparency));
}

.work-history--item h3 {
  display: grid;
  grid-template-columns: auto max-content 12rem;
  align-items: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--yellow);
  margin-bottom: 0.5rem;
}

.work-history--item h3 span.work-history--company {
  margin-right: 1rem;
}

/* .work-history--item h3 span:nth-child(1) { */
/*   border: solid blue 1px; */
/* } */
/**/
/* .work-history--item h3 span:nth-child(2) { */
/*   border: solid springgreen 1px; */
/* } */
/**/
/* .work-history--item h3 span:nth-child(3) { */
/*   border: solid magenta 1px; */
/* } */

.work-history--item h3 small {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--blue);
  background-color: var(--yellow);
  padding: 0.125rem 0.25rem;
  border-radius: 0.5rem;
}

.work-history--item .work-history--company,
.work-history--item .work-history--dates {
  font-size: 0.9rem;
}

.work-history--item .work-history--title {
  font-size: 0.95rem;
}

.work-history--item i {
  color: var(--blue);
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 0.25;
}

.work-history--item i:first-of-type {
  margin-left: 0;
}

ul.work-history--responsibilities li {
  display: flex;
}

ul.work-history--responsibilities {
  margin-top: 0.5rem;
  list-style: none; /* Remove default list styling */
  padding-left: 1rem; /* Remove default padding */
}

ul.work-history--responsibilities li::before {
  content: "- "; /* Add dash before the item */
  padding-right: 0.5rem; /* Add some space after the dash */
}
